# Add Selinux form system/bin/akmd8963
# Powered by gesangtome

type akmd8963_exec , exec_type, file_type;
type akmd8963 ,domain;

init_daemon_domain(akmd8963)

allow akmd8963 msensor_device:chr_file { open ioctl read write };
allow akmd8963 gsensor_device:chr_file { open ioctl read write };
allow akmd8963 input_device:dir { search open read write };
allow akmd8963 input_device:file { open read };
allow akmd8963 akmd8963_access_file1:file { open read write };
allow akmd8963 akmd8963_access_file2:file { open read write };

allow akmd8963 system_data_file:dir { write add_name create setattr };
allow akmd8963 system_data_file:file { open write read create setattr };
