# Add Selinux form system/bin/gsm0710muxdmd2
# Powered by gesangtome

type gsm0710muxdmd2_exec , exec_type, file_type;
type gsm0710muxdmd2 ,domain;

init_daemon_domain(gsm0710muxdmd2)
allow gsm0710muxdmd2 gsm0710muxd_device:chr_file open;
allow gsm0710muxdmd2 gsm0710muxd_device:chr_file { read write };
allow gsm0710muxdmd2 ctl_ril-daemon-md2_prop:property_service set;
allow gsm0710muxdmd2 ril_mux_report_case_prop:property_service set;
allow gsm0710muxdmd2 ctl_muxreport-daemon_prop:property_service set;
allow gsm0710muxdmd2 gsm0710muxd_prop:property_service set;
allow gsm0710muxdmd2 devpts:chr_file setattr;
allow gsm0710muxdmd2 device:dir write;
allow gsm0710muxdmd2 self:capability chown;
allow gsm0710muxdmd2 self:capability fowner;
allow gsm0710muxdmd2 device:dir add_name;
allow gsm0710muxdmd2 device:lnk_file create;
allow gsm0710muxdmd2 init:unix_stream_socket connectto;
allow gsm0710muxdmd2 property_socket:sock_file write;
allow gsm0710muxdmd2 self:capability setuid;
allow gsm0710muxdmd2 device:dir remove_name;
allow gsm0710muxdmd2 device:lnk_file unlink;
allow gsm0710muxdmd2 eemcs_device:chr_file open;
allow gsm0710muxdmd2 eemcs_device:chr_file { read write };
allow gsm0710muxdmd2 ctl_ril-daemon-md2_prop:property_service set;
allow gsm0710muxdmd2 emd_device:chr_file { read write open };
