# Add Selinux form ramdisk/sbin/healthd
# Powered by gesangtome

allow healthd self:capability dac_override;
allow healthd mtkrild:unix_stream_socket connectto;
allow healthd rild_oem_socket:sock_file write;
allow healthd sysfs_vcorefs_pwrctrl:file write;
allow healthd app_data_file:file write;
