# Add Selinux form system/bin/matv
# Powered by gesangtome

type matv_exec , exec_type, file_type;
type matv ,domain;

binder_use(matv)

init_daemon_domain(matv)

