# Add Selinux form system/bin/thermald
# Powered by gesangtome

type thermald_exec , exec_type, file_type;
type thermald ,domain;

init_daemon_domain(thermald)

allow thermald proc_thermal:dir search;
allow thermald proc_thermal:file { read getattr open write };
allow thermald system_server:binder call;
