# Add Selinux form system/bin/tiny_swapon
# Powered by gesangtome

type tiny_swapon_exec , exec_type, file_type;
type tiny_swapon ,domain;

init_daemon_domain(tiny_swapon)
allow tiny_swapon zram0_device:blk_file { getattr read write open ioctl };
allow tiny_swapon enableswap:fd use;
