# Add Selinux form system/bin/wmt_loader
# Powered by gesangtome

type wmt_loader_exec , exec_type, file_type;
type wmt_loader ,domain;

allow wmt_loader wmt_prop:property_service set;
allow wmt_loader init:unix_stream_socket connectto;
allow wmt_loader proc:file setattr;
allow wmt_loader property_socket:sock_file write;
allow wmt_loader self:capability { chown dac_override };
allow wmt_loader wmtdetect_device:chr_file { read write ioctl open };
allow wmt_loader stpwmt_device:chr_file { read write ioctl open };
allow wmt_loader devpts:chr_file { read write getattr ioctl };
init_daemon_domain(wmt_loader)
